/* default resolution is 1194 x 834 px (tablet)*/

/* UNIVERSAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.padding {
    padding: 5% 0;
}

h1 {
    font-family: "Titan One", sans-serif;
    font-size: 80px;
    color: #007D90;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: "Instrument Sans", sans-serif;
    font-size: 50px;
    color: #00414d;
    text-align: center;
    margin: 0;
}

p {
    font-family: "Instrument Sans", sans-serif;
    color: #00414d;
    text-align: center;
    margin: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.25;
}

a {
    font-family: "Onest", sans-serif;
    font-size: 54px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.button {
    background-color: #007D90;
    padding: 1% 8%;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    p {
        color: #FFFFFF;
        font-weight: 800;
        font-size: 40px;
        text-decoration: none;
    }
    &.button:hover {
        background-color: #005766;
        transition-duration: 100ms;
    }
    &.button:active {
        background-color: #00414d;
        a {
            color: #d0ecf4;
        }
    }
}


/* INDEX */

.titleScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: center top;
}

.instrContainer {
    background-color: #FFF6E5;
    border-radius: 55px;
    margin: 8%;
    padding: 5% 1%;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instr1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    p {
        font-size: 54px;
        font-weight: 500;
        max-width: 20ch;
    }
}

.instr2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.instr3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    p {
        line-height: 1;
        margin: 0;
    }
}


/* GAME */

nav {
    background-color: #d0ecf4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 2%;
    gap: 10%;
}

.smallLogo {
    max-width: 50vw;
    max-height: 20vh;
    padding: 3vh 0;
}

#audioBtn:active {
    filter: brightness(80%);
}

#audioBtn:hover {
    filter: brightness(90%);
}

.smallButton {
    background-color: #007D90;
    padding: 1% 3%;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
	p {
        font-size: 24px;
        font-weight: 800;
        color: #FFFFFF;
	}
    &.smallButton:hover{
        background-color: #005766;
        transition-duration: 100ms;
    }
    &.smallButton:active {
        background-color: #00414d;
        p {
            color: #d0ecf4;
        }
    }
}

.environment {
    background-color: #FFF6E5;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
        font-size: 5vh;
        font-weight: 500;
        z-index: 2;
    }
}

.enviro {
    display: flex;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(8px 8px 10px rgb(232, 205, 125, 0.8));
    gap: 1em;
    width: 40vw;
    height: 20vw;
    background-repeat: no-repeat;
}

.ice { /* for some reason this doesn't work if i put them in one call, making this very repetitious... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
}

.coral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
}

#ice {
    background-image: url('../images/ice.svg');
}

#coral {
    background-image: url('../images/coral.svg');
    background-position: center;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#animals {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 25vh;
    margin: 1vh 0;
}

.animal {
    max-height: 24vh;
    cursor: pointer;
    filter: drop-shadow(8px 8px 10px rgb(0, 87, 102, 0.8));
    background: transparent;
    align-self: center;
}

.animal:active { /* not working? maybe bc of dragula */
    img {
        filter: brightness(80%);
    }
}

.buttonContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8%;
    .button {
        padding: 1vw 5vh;
        margin: 2vh;
    }
}

.popup {
    position: absolute;
    border: 3px solid;
    border-color: #005766;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 70vw;
    height: 50vh;
    top: calc(50% - 25vh);
    left: calc(50% - 35vw);
    background-color: #eaf7fa;
    border-radius: 55px;
    z-index: 3;
    section {
        max-width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        z-index: 3;
    }
    p {
        padding: 1vh;
        font-size: 2.5em;
    }
}

#overlay {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.overlay {
    content: "";
    position: fixed;
    background: rgba(0, 87, 102, .5);
  }

.buttonDiv {
    display: flex;
    gap: 3em;
    width: 100%;
    justify-content: center;

}

.closeButton {
    background-color: #007D90;
    border-radius: 50px;
    padding: 1% 5%;
    text-decoration: none;
    display: flex;
    justify-content: center;
	p {
        font-size: 35px;
        font-weight: 800;
        color: #FFFFFF;
        padding: 0;
	}
}

.closeButton:hover {
    background-color: #005766;
    transition-duration: 100ms;
        }

.closeButton:active {
        background-color: #00414d;
        p {
            color: #d0ecf4;
        }
    }

.smallText {
    p {
        font-size: 28px;
    }
}

/* Hide DO NOT MOVE */

.hide {
	display: none;
}

/* Dragula */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

  /* End Dragula */